<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      </a>

      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#nav-collapsible-section">
        <span class="glyphicon glyphicon-menu-hamburger">
      </button>

    </div>
    <div class="navbar-collapse collapse" id="nav-collapsible-section">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
    </div>
  </div>
</nav>
