<%- include('../partials/header') %>
<style media="screen">
  label{
    font-weight: bold;
  }
  .tweet{
    padding: 10px;
    margin-top: 20px;
    border: 1px solid black;
  }
  .tweets{
    margin-bottom: 30px;
  }
  .tweet-textArea>textarea{
    width: 100%;
  }
  .info{
    border: 1px solid black;
  }
  .user-img{
    width:100px;
    height: 100px;
  }
  .user-name{
    padding-left:50px;
  }
  .thumbnail{
    border: none;
  }
  .thumbnail>img{
    width: 100px;
    height:100px;
  }
  @media only screen and (max-width: 1000px) {
    .side-user,.thumbnail {
        display:none;
    }
}
</style>
<main class="container-fluid">
  <div class="row">
    <div class="side-user col-md-4">

      <div class="info">
        <div class="row">
          <div class="col-md-3">
            <img class="user-img"src="/aldo.JPG" alt="">
            <h2 class="text-center"><%=tweetsArr.length%></h2>
          </div>

          <div class="col-md-9 user-name">
            <h3 >Aldo Solorzano</h3>
            <p >@aldo<p>
          </div>

        </div>

      </div>
    </div>

      <div class="col-xs-12 col-md-8 mobile">
        <div class="container-fluid">
          <div class="formWrapper">
            <form class="" action method="post">
              <div class="username">
                <label for="">@aldo</label>
              </div>
              <div class="tweet-textArea">
                <textarea maxlength="250"name="tweet" rows="4" value=""></textarea>
              </div>
              <div class="">
                <button class="btn btn-primary" type="submit" name="button" value="submit">Submit</button>
              </div>
            </form>
          </div>

        </div>

        <div class="tweets container-fluid">
          <% for(tweet of tweetsArr){ %>
            <div class="row tweet">
              <div class="thumbnail col-md-2">
                <img class="img-circle"src="/aldo.JPG" alt="">
              </div>
              <div class="col-md-10">
                <label for="">@aldo</label>
                  <p><%=tweet%></p>
              </div>
            </div>
            <%}%>
          </div>
        </div>
  </div>
</main>
<%- include('../partials/footer') %>
