<%- include('../partials/header') %>
<style media="screen">
  body{
    background-image: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-4.jpg');
    background-repeat: no-repeat;
  }
  .title{
    font-weight: bold;
    margin-top: 35vh;
  }
</style>
  <div class="container-fluid">
    <h1 class="title text-center">Awesome Tweets</h1>
  </div>
<%- include('../partials/footer') %>
